@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
nav {
    background-color: #f7f1e3;
    display:flex;
    flex-direction:row-reverse;
}
.navWrap {
    width:70%;
    min-height:8vh;
    background-color:#f7f1e3;
    color:#e8e8e8;
    font-family: 'Poppins', sans-serif;
}
nav a,
nav a:visited { color: #6F1E51; }
.navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
}
.navBurger {
    display: none;
    cursor:pointer;
}
.navBurger div {
    width:25px;
    height:3px;
    margin:5px;
    background-color: #6F1E51;
}
@media screen and (max-width:1024px){
    .navWrap { width:65%;}
}
@media screen and (max-width:768px){
    body {overflow-x:hidden;}
    nav { width:100vw;}
    .navLinks a,
    .navLinks a:visited { color: #f7f1e3; }
    .navWrap {
        background-color: #f7f1e3;
        width: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navLinks{
        position: absolute;
        top:8vh;
        right:0;
        height:92vh;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        background-color:#6F1E51;
        transform:translateX(100%);
        transition:0.5s ease-in;
        width:50%;
    }
    .navLinks a { 
        opacity:0;
        text-align: center;
    }
    .navBurger { display: block;}
}

@media screen and (max-width:480px){
    .navLinks{ width:100%; }
}
.nav-active {
    transform:translateX(0%);
}
.navBurger.toggle .bar1 { transform:rotate(45deg) translate(5px, 6px); }
.navBurger.toggle .bar2 { opacity:0; }
.navBurger.toggle .bar3 { transform:rotate(-45deg) translate(5px, -6px); }

@keyframes navLinkFade {
    fromt {
        opacity:0;
        transform:translateX(80px);
    }
    to {
        opacity:1;
        transform:translateX(0px);
    }
}