/*
CSS Grid Tutorial | CSS Grid Crash Course
Dev Ed
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html {
    font-size:12px;
}
body {
    font-family: 'Roboto Slab', serif;
    color:#222;
}
a,
a:visited {
    text-decoration: none;
    color:#222;
}
::selection {
    background-color: #ff5252;
}

.main {
  height:100vh;
  background-color: #f7f1e3;
  display:flex;
  justify-content: space-around;
  align-items: center;

}
.main h1 {
  font-family: 'Dancing Script', cursive;
  font-size:2.5rem;
}

.contact {
  height:100vh;
  background-color: #f7f1e3;
  display:flex;
  justify-content: center;
  align-items: center;;
}
.contact div {
  height:30vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.contact div p {
  font-size:0.9rem;
}